MainFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  min-height: 10vh;
  padding-top: 1.5rem;

  left: 0;
  bottom: 0;
  width: 100%;
  right: 0;
  flex-wrap: wrap;
  flex-direction: column;
  span {
    font-family: "Open Sans", sans-serif;
    opacity: 0.5;
    font-weight: 300;
  }
  @media (max-width: 48rem) {
    p {
      margin-bottom: 1rem;
    }
  }
}

Icons {
  padding-bottom: 0.5rem;
  display: flex;
  a {
    margin-right: 20px;
    margin-left: 20px;
  }
}